body {
    
    text-align: center;
    
}

#campusLifeHead {
    
    color: hotpink;
    
}

#achivementHead {
    
    color: hotpink;
    
}

#whatsNewHead {
    
    color: hotpink;
    
}

#contacUsHead {
    
    color: hotpink;
    
}
